@import url("https://fonts.googleapis.com/css2?family=Metamorphous&family=Neuton:wght@300&family=Source+Sans+Pro:wght@300;400&display=swap");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: #e2e1dc;
}

header {
    margin-block: 1rem;
    font-family: "Metamorphous", cursive;
    font-weight: bold;
    font-size: 6vh;
    text-align: center;
    text-shadow: #777 3px 3px 3px;
}

.element {
    opacity: var(--opacity);
    will-change: opacity;
}

main {
    font-family: "Source Sans Pro", sans-serif;
    perspective: 2000px;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    padding: 2rem;
    gap: 1rem;
}

.book {
    width: 400px;
    aspect-ratio: 10/ 15;

    display: flex;
    flex-direction: column;
    align-items: center;
    border: outset 5px #ccc;
    box-shadow: #aaa 5px 5px 5px;

    position: relative;
    transition: transform 0.5s;
    transform-style: preserve-3d;
}

.book article {
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 1.5rem;
    justify-content: space-between;

    backface-visibility: hidden;
    transform: rotateY(180deg);
}

.book .book-number {
    color: #777;
    text-transform: uppercase;
    font-weight: bold;

    font-size: small;
}

.book .title {
    font-family: "Neuton", serif;
    font-size: 3rem;
}

.book p {
    font-weight: 300;
    font-size: 1.1rem;
    line-height: 1.8rem;

    justify-content: stretch;
}

.book a.button {
    color: white;
    background-color: #00a9b8;

    text-transform: uppercase;
    text-decoration: none;
    font-weight: bold;
    text-align: center;
    font-size: 0.9rem;

    align-self: center;

    width: fit-content;
    padding: 0.5rem 1rem;

    box-shadow: #777 3px 3px 3px;
}

.book a.button:hover,
.book a.button:focus {
    background-color: #308389;
}

.book img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;

    backface-visibility: hidden;
}

.descubierto {
    transform: rotateY(180deg);
}
