@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,800;1,400&display=swap");

:root {
    --separacion: 1.5rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-image: linear-gradient(-45deg, #21221b 0%, black 100%);
    color: white;
    font-family: "EB Garamond", serif;

    display: flex;
    flex-direction: column;
}

main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

    width: 90%;
    margin: 3rem auto;
}

.ficha {
    display: flex;
    flex-direction: column;
    max-width: 350px;
    margin: var(--separacion);

    background-color: #222;
    border-radius: 0.5rem;
    overflow: hidden;

    box-shadow: 5px 2px 5px 1px #bab20f2f;
}

.ficha:nth-child(1) > img,
.ficha:nth-child(4) > img {
    object-position: 75% center;
}

img {
    width: 100%;
    aspect-ratio: 3 / 3.5;
    object-fit: cover;
}

.datos {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: calc(var(--separacion) / 6) var(--separacion);
}

.nombre {
    font-weight: 800;
    padding: calc(var(--separacion) / 2) 0;
}

hr {
    width: 80%;
    opacity: 30%;
    margin-inline: auto;
    margin-bottom: calc(var(--separacion) / 2);
}

.salud {
    flex-shrink: 0;
    font-style: italic;
}

article {
    padding-inline: var(--separacion);
    padding-bottom: calc(var(--separacion) / 2);
}

.wiki {
    background-color: gold;
    color: black;
    font-weight: bold;

    padding-block: 0.5rem;
    margin-top: auto;

    text-decoration: none;
    text-align: center;
}

.wiki:hover,
.wiki:focus {
    background-color: orange;
}

.wiki:active {
    background-color: orangered;
}

footer {
    display: flex;

    height: 3rem;

    background-color: darkgoldenrod;
    color: black;

    margin-top: auto;
    padding-inline: var(--separacion);
    justify-content: space-between;
    align-items: center;
}

footer a {
    text-decoration: none;
    font-weight: bold;
    color: gold;
}

span.autor {
    font-weight: bold;
}
